*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.section-block  {
    max-width: 960px !important;

}

.heaader {
    height: 4.5625rem;
}

.heaader .navbar-nav .nav-item {
    font-size: 0.743rem;
} 

.banner {
    background-image: url(images/44461315-0-Group-4.png);
    max-width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-content{
    height: 51.1875rem;

}

.banner-text-centent .entry-heading {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.362rem;
    line-height: 1.925rem;
}




.second-section .section-block .row {
    height: 18.4375rem;
    max-width: 60rem;
}

.second-section .qoute {
    height: 7.125rem;
    width: 33.75rem;
    
}
.second-section-text {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #000000;
    font-size: 1.62rem;
    line-height: 2.4rem;
}

.get-quote-section {
    background: url(images/44461510-0-Group-2.webp) ;
    max-width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.get-quote-section-content {
    height: 15.75rem;
}

.get-quote-section .entry-text {
    font-family: 'lora' serif;
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 1.62rem;
    line-height: 2.4rem;
}

.custom-btn-info {
    background: #437B73;
        color: #FFFFFF;
        font-size: 1.0526rem;
        font-family: Montserrat;
        font-weight: 400;
        height: 3.125rem;
        width: 14.875rem;
        border-radius: 3px;

}

.custom-btn-info:hover {
    background: #2F4945;
    color: #FFFFFF;
}

.best-of-content-box {
    background-color: #4A4A4A;
}

.best-of-content-box .entry-text {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 2.1672rem;
    line-height: 3.5rem;
}



.top-location-content-box {
        height: 10.625rem;
        width: 13.6875rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(12, 12, 12) !important;
        opacity: 0.55;
}

.top-location-section .entry-text{
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 1.48rem;
    line-height: 2.1rem;
}

.entry-small-text {
    font-weight: 400;
    font-size: 0.643rem;
}

.custom-fs-small {
    font-weight: 400;
    font-size: 0.943rem;
}


.footer-top {
        height: 23.125rem;
        background: rgb(35, 35, 35);
}

.footer-bottom {
    background: rgb(30, 30, 30);
        height: 5.625rem;
}

@media all and (max-width: 1100px) {
    .heaader {
        height: auto;
    }

}
@media all and (max-width: 767px) {
    .section-block {
            max-width: 324px !important;
    
        }

    .heaader {
        height: auto;
    }

    .banner-content {
        height: 41.1875rem;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    .banner-text-centent {
        width: 20.8125rem;
    }

    .banner-text-centent .entry-heading {
        font-size: 1.2384rem;
        line-height: 1.75rem;
        
    }

    .second-section {
        height: 13.125rem;
        padding: 0 40px;
    }
    .second-section .section-block .row {
        height: 13.125rem;
        max-width: auto;
    }

    .second-section .second-section-text {
        font-size: 1.1rem;
        line-height: 1.525rem;
    }

    .get-quote-section .entry-text {
        font-size: 1.4241rem;
        line-height: 1.7538rem;
    }

    .get-quote-section  {
        height: 18.125rem;
    }

    .get-quote-section-content {
        height: auto;
    }

    .main-info-bottom-inner-column {
        height: 24.5625rem;
    }
    
    .main-info-bottom .content-area .img-area {
        height: 15.6774rem;
    }
    .main-info-bottom img {
        height: 100% !important;
    }
    .main-info-bottom-inner-column .text-area {
        margin: auto !important;
        padding: 10px 0 !important;
        padding-right: 45px !important;
    }
    .main-info-bottom-inner-column .text-area .entry-small-text {
        font-size: 0.6192rem;
        margin: auto;
    }

    .main-info-bottom-inner-column .text-area .entry-text {
        line-height: 1.5rem;
        font-size: 0.9288rem;
        margin: auto;
    }

    .best-of-content-box {
        height: 14.5rem;
        padding: 0 50px;
    }

    .best-of-content-box .entry-text {
        line-height: 2.1875rem;
        font-size: 1.248rem;
    }

    .top-location-content-box {
        background-color: #606060;
    }

}